/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set widths on the form inputs since otherwise they're 100% wide */

table{
    width:100%;
}
input,
select,
textarea {
    max-width: 280px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: max-content;
    font-family: Arial, sans-serif;
    background: #fff;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    font-weight: bold;
}

    .card-header button {
        padding: 4px 8px;
        font-size: 12px;
        cursor: pointer;
    }


.card-body {
    padding: 12px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    padding: 10px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
}


.navbar-left {
    display: flex;
    gap: 20px;
}

.navbar-left a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

 .navbar-left a:hover {
     text-decoration: underline;
 }

.navbar-user {
    font-size: 14px;
}

.navbar-title {
    display: inline;
    padding-left: 10px;
    font-weight: 900;
    letter-spacing: 1px;
}

.main-section {
    padding: 20px 16px; 
    min-height: calc(100vh - 60px); 
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.btn {
    display: inline-block;
    padding: 4px 10px;
    background: #4CAF50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

.btn-clear {
    display: inline-block;
    padding: 4px 10px;
    background: #898989;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

.btn-edit {
    display: inline-block;
    padding: 4px 10px;
    background: #487585;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}
.btn-delete {
    display: inline-block;
    padding: 4px 10px;
    background: #9c4040;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

input[type="text"], input[type="date"], input[type="number"] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    width: 150px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
